body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}
.main-title {
font-size: 50px;
text-transform: uppercase;
color: #000;
}
.main-description {
   font-size: 22px;
    color: #ccc; 
}

.bg-blue {
    background-color: #03A9F5;
}

.logo {
    height: 30px;
}

.logo-white {
    height: 50px;
    margin-bottom: 20px;
}
footer {
  /* color: rgba(255, 255, 255, 0.8); */
  color: #ffffffcd;
}
footer a {
  color: #fff;
}

.text-trio {
  display: flex;
  gap: 30px;
}